{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %} {# токен, чтобы никто не подделал форму #}
        <table>
            <tr>

                <td>
                    <div class="form-group" style="background-color: red">
                        {#            first_name is the name by which first name is created in django forms#}
                        {% render_field form.username class="form-control" placeholder="User name" type="text" %}
                    </div>
                </td>

                <td>
                    <div class="form-group" style="background-color: red">
                        {#            // password is the default name of password in django forms#}
                        {% render_field form.password type="password" class="form-control" id="exampleInputPassword" placeholder="Password" %}
                    </div>
                </td>
            </tr>
        </table>
        <button type="submit">Войти</button>

    </form>

{% endblock %}